<!-- start custom head snippets -->

<link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|Lato:400,700|PT+Serif:400,700,400italic|Vollkorn:400,700,400italic,700italic" rel="stylesheet" type="text/css">

<!-- insert favicons. use http://realfavicongenerator.net/ -->
<link rel="shortcut icon" type="image/ico" href="/assets/images/favicon.ico">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2T2CF7K6N8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2T2CF7K6N8');
</script>

<!-- end custom head snippets -->